<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= status.content %> <hr />
			<%= link_to time_ago_in_words(status.created_at)+' ago', status_path(status) %>
		</div>
	<% end %>
<% end %>
