<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'well'}) do |f| %>
			
			<fieldset>
				<legend>Register</legend>
				
				<%= f.input :first_name %>
				<%= f.input :last_name %>
				<%= f.input :profile_name %>
				<%= f.input :email %>
				<%= f.input :password %>
				<%= f.input :password_confirmation %>

			  <div><%= f.button :submit, "Register" %></div>
			</fieldset>
		<% end %>

		<%= render "devise/shared/links" %>		
	</div>
	<div class="span8">
		<%= devise_error_messages! %>
	</div>
</div>


